// Typography utilities and heading styles
@use "tokens";

@font-face {
  font-family: "Geist";
  font-style: normal;
  font-display: swap;
  font-weight: 100 900;
  src: url("../assets/fonts/Geist-Variable.woff2") format("woff2");
}

@font-face {
  font-family: "Geist Pixel Square";
  font-style: normal;
  font-display: swap;
  font-weight: 800;
  src: url("../assets/fonts/GeistPixel-Square.woff2") format("woff2");
}

h1 {
  font-size: 6rem;
  font-family: tokens.$font-display;
  color: tokens.$color-duotone-shadow-match;
  font-weight: 800;
  margin: 0 0 tokens.$space-sm;
}


h2 {
  font-size: 3rem;
  color: tokens.$color-duotone-shadow-match;
  font-weight: 100;
  margin: 0 0 tokens.$space-sm;
}
